.oneFourth {
  width: 25%;
  float: left;
}
.picks {
  margin-bottom: 1rem;
}
.picks figure {
  border: solid 1px #ccc;
  border-bottom: solid 5px #ccc;
  padding: 0 15px 15px;
  margin: 0 5px;
}
.picks figure:hover {
  cursor: pointer;
  opacity: 0.9;
  border-bottom: solid 5px #2a65ea;
}
.picks figure .productImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 160px;
  padding-top: 0;
}
.picks figure img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.picks div {
  padding: 5px 0;
}
.picks .first {
  overflow: hidden;
}
.picks .first > .date {
  float: right;
}
.picks .first .price {
  font-size: 20px;
  font-weight: 700;
  color: #333;
}
.picks .second .adTitle {
  text-transform: uppercase;
}
